body{
	background-color: black;
	color:#ffffff;
	padding: 50px 10px;
	margin: 0 auto;
	max-width: 900px;
}

h1{
text-align:center;
color: #ffffff;
}

h3{
	font-family: 'Pangolin', cursive;
}

P{
	font-family: 'Pangolin', cursive;
	text-align:center;
	font-size:20px;
	color:#ffffff;
}
<
img{
	padding:50px;
}

LI{
	display: inline;
	margin-right: 10px;
}

a{
  text-align:center;
  
}

a:link {
	text-decoration: none;
	color: deeppink;
}
a:visited{
	color: #ffffff;
}
a:hover{
	text-decoration: underline;
	color:deepskyblue;
}
a:active {
	color: darkcyan;
}
nav {
	text-align: center;
}

body {
  padding: 50px 10px;
  margin: 0 auto;
  max-width: 900px;
}

#some-element {
  font-family: 'Pangolin', cursive;
  color:red;
  display: none;
  font-size: 12px;
  text-transform: uppercase;
}

#some-div:hover #some-element {
  display: block;
}

#some-more-element {
  font-family: 'Pangolin', cursive;
  color:red;
  display: none;
  font-size: 12px;
  text-transform: uppercase;
}

#some-div2:hover #some-more-element {
  display: block;